<div class="score-app">
  <div class="panel">
    <div class="top-controls">
      <button class="btn"
              [class.active]="showMissingScore"
              (click)="changeScoreDisplay()">
        {{ showMissingScore ? 'Missing' : 'Total' }}
      </button>

      <div class="round-nav">
        <button class="btn" type="button" (click)="changeRound(-1)">
          <svg>
            <path d="M17.77 3.77 16 2 6 12l10 10 1.77-1.77L9.54 12z"></path>
          </svg>
        </button>
        <span class="status">Round {{ selectedRound }}</span>
        <button class="btn" (click)="changeRound(1)">
          <svg>
            <path d="M6.23 20.23 8 22l10-10L8 2 6.23 3.77 14.46 12z"></path>
          </svg>
        </button>
      </div>
    </div>

    <div class="players">
      @for (player of players; track player) {
        <div class="player-row">
          @if (player.editing) {
            <div class="name-edit">
              <input type="text" [(ngModel)]="player.name">
              <button class="btn" (click)="savePlayer(player)">Save</button>
            </div>
          } @else {
            <div class="avatar" [style.background]="player.color">{{ player.name }}</div>
            <!-- TODO: add score circle -->
            <div class="score">
              {{ showMissingScore ? winningScore - player.score : player.score }}
            </div>
            <input class="input" type="number"
                   digitOnly
                   maxLength="3"
                   inputmode="numeric"
                   [(ngModel)]="player.roundScores[selectedRound]"
                   (ngModelChange)="updateScore(player)"/>
          }
        </div>
      }
    </div>
  </div>

  <footer class="bottom-controls">
    <button class="btn primary">New Game</button>
    <button class="btn primary" (click)="addPlayer()">Add Player</button>
  </footer>
</div>
