$bg: #87CAC7;
$panel: #FEF6DC;
$primary: #30348A;
$accent: #F9DD69;

:host {
  height: 100%;
  display: flex;
  background-color: #30CED5;
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.score-app {
  // take up all space
  flex-grow: 1;
  // margin to the sides
  margin: 0.2rem;
  // flex
  display: flex;
  flex-direction: column;
  // base bg
  background: $bg;
  // border
  border-radius: 16px;
  border: 2px solid $primary;
  // inside padding
  padding: 16px;
  gap: 16px;
}

.panel {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px -2px, rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;
}

.top-controls {
  background: $primary;
  padding: 0.75rem 0.5rem;
  // make top round, bottom not
  border-radius: 4px 4px 0 0;

  display: flex;
  gap: 6px;
  align-items: center;

  & > .btn {
    flex: 1;
    border: none;
    background: $bg;
    color: $panel;
    padding: 6px;
    border-radius: 6px;
    font-weight: bold;
    text-transform: uppercase;

    &.active {
      border: 2px solid white;
    }
  }

  .round-nav {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 4px;

    .status {
      text-transform: uppercase;
      color: $panel;
      font-weight: bold;
      letter-spacing: 0.1rem;
      font-size: 12px;
    }

    .btn {
      background: transparent;
      border: none;

      svg {
          user-select: none;
          height: 1em;
          display: inline-block;
          flex-shrink: 0;
          fill: currentcolor;
          font-size: 1.5rem;
          color: rgb(191, 191, 191);
          width: 1em;
      }
    }
  }
}

.players {
  background: $panel;
  flex-grow: 1;
  padding: 16px;
  border-radius: 0 0 4px 4px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  .player-row {
    display: flex;
    gap: 16px;
    align-items: center;
  }

  .avatar {
    width: 4rem;
    height: 4rem;
    // round
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    // text
    text-transform: uppercase;
    font-weight: bold;
    color: $panel;
    font-size: 19px;
    letter-spacing: 0.15rem;
  }

  .score {
    font-size: 20px;
    font-weight: bold;
  }

  .plus {
    font-size: 26px;
    font-weight: bold;
    text-align: center;
  }

  .input {
    width: 100%;
    padding: 16.5px 14px;
    background: none;
    // text
    font-size: 22px;
    font-weight: bold;
    text-align: center;

    &:focus {
      outline: $primary;
    }
  }
}

.bottom-controls {
  display: flex;
  justify-content: space-between;

  .btn {
    border: none;
    font-weight: bold;
    border-radius: 6px;
    padding: 10px 12px;
    cursor: pointer;
  }

  .primary {
    background: $primary;
    color: white;
  }

  .info {
    background: #d4f0f2;
  }
}
