$bg: #87CAC7;
$panel: #FEF6DC;
$primary: #30348A;
$accent: #F9DD69;

:host {
  height: 100%;
  display: flex;
  background-color: #30CED5;
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.btn {
  // give buttons pointer cursor
  cursor: pointer;
  // disable touch zoom
  touch-action: manipulation
}

.score-app {
  // take up all space
  flex-grow: 1;
  // margin to the sides; bottom has bigger margin for mobile
  margin: 0.2rem 0.2rem 1.2rem 0.2rem;
  // flex
  display: flex;
  flex-direction: column;
  // base bg
  background: $bg;
  // border
  border-radius: 16px;
  border: 2px solid $primary;
  // inside padding
  padding: 16px;
  gap: 16px;
}

.panel {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px -2px, rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;
}

.top-controls {
  background: $primary;
  padding: 0.75rem 0.5rem;
  // make top round, bottom not
  border-radius: 4px 4px 0 0;

  display: flex;
  gap: 6px;
  align-items: center;

  & > .btn {
    width: 50%;
    border: 2px solid transparent;
    background: $bg;
    color: $panel;
    padding: 6px;
    border-radius: 6px;
    font-weight: bold;
    text-transform: uppercase;

    &.active {
      border: 2px solid white;
    }
  }

  .round-nav {
    // take up remaining space
    flex-grow: 1;
    //
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;

    .status {
      text-transform: uppercase;
      color: $panel;
      font-weight: bold;
      letter-spacing: 0.1rem;
      font-size: 12px;
    }

    .btn {
      background: transparent;
      border: none;

      svg {
          user-select: none;
          height: 1em;
          display: inline-block;
          flex-shrink: 0;
          fill: currentcolor;
          font-size: 1.5rem;
          color: rgb(191, 191, 191);
          width: 1em;
      }
    }
  }
}

.players {
  //TODO: fix overflow scroll
  background: $panel;
  // take up all space
  flex-grow: 1;
  // bottom rounded
  border-radius: 0 0 4px 4px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;

  .player-row {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .name-edit {
    display: flex;
    gap: 16px;
    width: 100%;

    input {
      width: 75%;
      background: none;
      padding: 16.5px 14px;
      border: 2px solid #C0C0A1;
      border-radius: 4px;
      // text
      font-size: 22px;
      font-weight: bold;
      text-align: center;
      font-family: inherit;
      text-transform: uppercase;
    }
    .btn {
      width: 25%;
      text-transform: uppercase;
      color: $primary;
      background: none;
      border: 1px solid $primary;
      border-radius: 4px;
    }
  }

  // Avatar
  .avatar-container {
    // takes up 1/4 of the flexbox
    width: 25%;
    height: 100%;
    // center horizontally
    display: flex;
    justify-content: center;

    .avatar {
      // fixed width so its a circle
      width: 4rem;
      height: 4rem;
      // round
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      // dont make avatar bigger if text is too long
      overflow: hidden;
      // text
      text-transform: uppercase;
      font-weight: bold;
      color: $panel;
      font-size: 19px;
      letter-spacing: 0.15rem;
    }
  }

  // Score
  .score {
    width: 25%;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }

  // Score input
  .round-score {
    width: 50%;
    background: none;
    padding: 16.5px 14px;
    border: 2px solid #C0C0A1;
    border-radius: 4px;
    // text
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    font-family: inherit;

    &:focus {
      border-width: 2px;
      border-color: $primary;
      outline: none;
    }

    // remove number spinner
    -moz-appearance: textfield;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}

.bottom-controls {
  display: flex;
  gap: 16px;

  .btn {
    text-transform: uppercase;
    width: 100%;
    border: none;
    font-weight: bold;
    border-radius: 6px;
    padding: 10px 12px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
  }

  .primary {
    background: $primary;
    color: white;
  }
}
